html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 30px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.body-sec {
  width: 90%;
  margin: 0 auto;
}

.nav-items ul li {
  padding: 0 0 0 30px;
}
.nav-items ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 25px;
}

.res-container {
  /* display: flex;
    flex-wrap: wrap; 
    justify-content: center;*/
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.res-container .res-card:hover {
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.res-container .res-card {
  flex-basis: 25%;
  border-radius: 10px;
  padding: 30px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  min-width: 250px;
  box-sizing: border-box;
}

.search {
  padding: 10px 0;
}

.res-container .res-card h3 {
  margin-bottom: 15px;
}

.res-container .res-card .card-btm-sec {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.res-container .res-card .res-card-img {
  height: 250px;
  margin-bottom: 30px;
}

.res-container .res-card .food-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.filter-btn {
  margin: 30px 0;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  font-weight: bold;
}

/* Shimmer CSS */

.shimmer-container {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.shimmer-container .shimmer-cards {
  flex-basis: 25%;
  border-radius: 10px;
  padding: 30px;
  background-color: #eee;
  margin-bottom: 20px;
  min-width: 250px;
  min-height: 487.5px;
  box-sizing: border-box;
}

.res-card h4 {
  word-break: break-all;
  padding-bottom: 10px;
  line-height: 20px;
}
